version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: sito_camicie
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  backend:
    build: ./backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/sito_camicie
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      APP_JWT_SECRET: VGhpcy1pcy1hLTEyOC1iaXQtYXJlYS1mb3Itand0LXNlY3JldA==
    ports:
      - 8080:8080
    volumes:
      - ./backend/storage:/app/storage

  frontend:
    build: ./frontend
    ports:
      - 4200:80
    depends_on:
      - backend

volumes:
  db_data:
